@model OnlineFoodOrder.Models.AddRestaurantView

@{
}

<!DOCTYPE html>
<html>
<body>

<h1>Thanks for using our Portal.</h1>
<form method="post" action="RestaurantAdd">
    <div class="mb-2">
        Restaurant Name :  <input type="text" class="form-control" name="RestaurantName">
    </div>
    <div class="mb-2">
        Address :  <input type="text" class="form-control" name="Address">
    </div>
    <div class="mb-2">
        Landmark :  <input type="text" class="form-control" name="Landmark">
    </div>
    <div class="mb-2">
        City :  <input type="text" class="form-control" name="City">
    </div>
    <div class="mb-2">
        State :  <input type="text" class="form-control" name="State">
    </div>
    <div class="mb-2">
        Postal Code :  <input type="text" class="form-control" name="PostalCode">
    </div>
    <div class="mb-2">
        Country :  <input type="text" class="form-control" name="Country">
    </div>


        <button type="submit" class="btn btn-success">Submit</button>



</form>






</body>
</html>

